<%- include('../../partials/siteHeader', {pageTitle: "" }) %>

    <div class="search-wrap">
        <form class="search-bar" action="/movies" method="post">
            <div class="search-group">
                <label class="sr-only" for="searchText">Search</label>
                <input class="search-input" type="text" id="searchText" name="searchText"
                    placeholder="Search movies or..." required />
                <label class="sr-only" for="searchType">Search type</label>
                <select class="search-select" id="searchType" name="searchType">
                    <option value="title">Movie Title</option>
                    <option value="actor">Actor</option>
                    <option value="year">Year</option>
                </select>
            </div>

            <button class="search-button" type="submit">Search</button>
        </form>
    </div>

    <!-- --------------------- search buttons genres ------------------------------- -->


    <!-- --------------------- search buttons  ------------------------------- -->

    <!-- ------------------ search result --------------------------------------- -->

    <%if(movies && movies.length> 0){%>

        <div class="movies-container">
            <% movies.forEach((oneMovie)=> { %>
                <a href="/movies/show/<%=oneMovie.id%>" class="movie-link">
                    <div class="movie-card">
                        <% if(oneMovie.thumbnail) { %>
                            <img src="<%= oneMovie.thumbnail %>" alt="Movie Poster" />
                            <% } else { %>
                                <img src="/img/noThum.jpg" alt="No Image Available" />
                                <% } %>
                                    <div class="movie-info">
                                        <div class="movie-title">
                                            <%= oneMovie.title %>
                                        </div>
                                        <div class="movie-actor">
                                            <%= oneMovie.cast[0] %>
                                        </div>
                                        <div class="movie-year">
                                            <%= oneMovie.year[0] %>
                                        </div>
                                    </div>
                    </div>
                </a>
                <% }); %>
        </div>
        <%} else {%>
            <h3>No movies created yet !!!!</h3>
            <%}%> <%- include('../../partials/siteFooter') %>
